
@inject ILanguageContainerService Language


<BFUStack Horizontal="false" VerticalFill="true" Style="overflow:hidden;">
    <BFUStackItem Grow="0" VerticalFill="false" Align="Alignment.Center">
        <div class="top-row">
            <BFULink Href="/">dotNet Labs 1.0</BFULink>
        </div>
    </BFUStackItem>

    <BFUStackItem VerticalFill="true" Style="overflow-y:auto;">
        <BFUNav>
            <BFUNavLinkGroup Name="dotNetLabs" CollapseByDefault="false">
                <BFUNavLink Name="@Language["NavMenu:Videos"]" Url="videos" Id="Videos" />
                <BFUNavLink Name="@Language["NavMenu:Playlists"]" Url="playlists" Id="Playlists"  />
                <BFUNavLink Name="@Language["NavMenu:Management"]" Url="management" Id="Management"  />
            </BFUNavLinkGroup>
        </BFUNav>
    </BFUStackItem>
</BFUStack>

@code {

    [Parameter] public EventCallback<BFUNavLink> OnLinkClicked { get; set; }

    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        Language.InitLocalizedComponent(this);
        base.OnInitialized();
    }

}
